exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(dissimilarities, .registration = TRUE)
importFrom(microbenchmark, microbenchmark)
importFrom(proxy, as.matrix)
importFrom(proxy, dist)
importFrom(stats, na.fail)
