export(fastDist)
export(fastDistAB)
export(subCols)
export(Dist2Mat)
export(subDist2Mat)
export(subDist2Dist)
export(get2dFrom1d)
export(get1dFrom2d)
export(expandDist)
importFrom(Rcpp, evalCpp)
useDynLib(dissimilarities, .registration = TRUE)
importFrom(microbenchmark, microbenchmark)
importFrom(proxy, as.matrix)
importFrom(proxy, dist)
importFrom(stats, na.fail)
